/* Configurações gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: var(--bg);
    color: var(--text);
    transition: background 0.3s ease, color 0.3s ease;
}

/* Temas */
:root {
    --br: #ffffff;
    --text: #222;
    --card: #f2f2f2;
    --button-bg: #222;
    --button-text: #fff;
}

body.dark {
    --bg: #0a192f;
    --text: #ccd6f6;
    --card: #112240;
    --button-bg: #64ffda;
    --button-text: #0a192f;
}

/* Header */
header {
    background-color: var(--card);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 1.6rem;
}

#toggle-theme {
    background: none;
    border: 2px solid var(--text);
    color: var(--text);
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: 0.3s;
}

#toggle-theme:hover {
    background-color: var(--text);
    color: var(--button-text)
}

/* Main */
main {
    max-width: 600px;
    margin: 50px auto;
    background-color: var(--card);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px #00000015;
    text-align: center;
}

main h2 {
    margin-bottom: 20px;
}

label {
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #aaa;
    outline: none;
    font-size: 1rem;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.95rem;
    background-color: var(--button-bg);
    color: var(--button-text);
    transition: 0.3s;
}

button:hover {
    transform: translateY(-3px);
    opacity: 0.9;
}

#resultado {
    margin-top: 25px;
    font-size: 1.2rem;
    font-weight: 600;
}